<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="main-header-tablet">
            <div class="main-header-top-bar">
                <a href="#"><img src="/img/logo-mercado-liebre.svg" alt="Logo de mercado liebre" class="logo"></a>
                <form action='https://www.google.com/search?q=' method="get" class="search-bar">
                    <input type="text" placeholder="Busca productos, marcas" name="q">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="nav_bar">
            <ul class="leftNavBar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="rightNavBar">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section>
        <img src="/img/img-home-banner.jpg" alt="Banner" id="banner">
    </section>
    <main>
        <section class="last_visit">
            <!-- Sección Basado en tu última visita -->
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>

                        <p class="descripcion">Cafetera Molinex</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>

                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>

                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="tv">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>

                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>

                </article>
            </div>
        </section>
        <section class="offers">
            <!-- Sección de ofretas -->
            <h3 class="titulares">Sección de ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>

                        <p class="descripcion">Cafetera Molinex</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>

                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>

                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>

                </article>

                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="tv">
                    <div class="cajaProducto">
                        <a class="btn" href="#"><i class="fa-solid fa-truck"></i></a>
                        <div class="flex">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>

                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>

                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-sections">
            <section>
                <div class="iconFooter">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <p class="negrita">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <div class="iconFooter">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <p class="negrita">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="iconFooter">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <p class="negrita">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <p id="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>